@font-face {
    font-family: Bikarosta;
    src: url("Bikarosta-Script.ttf");

}

body {

    background-image: url("images/water-melon.jpg");
}

.container {
    border-style: hidden;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    padding: 50px;
    text-align: center;
    background: linear-gradient(-20deg, #ffe6e6 30%, #c2f0c2 70%);
    max-width: 1000px;
    margin: auto;
}

#registerButtons{

    text-align: center;
    max-width: 1000px;
    margin: auto;
}


#clearListButton, #printButton, #saveButton {
    display: inline-block;
    background-color: pink;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
    padding: 5px 15px;
}



#deleteItem {
    display: inline-block;
    background-color: pink;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
    padding: 5px 5px;
}

#addButton, #registerButton, #login{

    display: inline-block;
    background-color: #aeffb4;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
    padding: 5px 15px;
    opacity: 1;
    transition: 0.3s;
}

#addButton:hover{
    opacity:0.5;
}

#myAmount, #myProduct, #myListName {
    border-radius: 5px;
    margin: 5px;
}

@-webkit-keyframes changeColor {
    0% {color: black;}
    25% {color: hotpink;}
    35% {color: purple;}
    50% {color: green;}
    60% {color:darkorange;}
    75% {color: cornflowerblue;}
    84% {color: darkgoldenrod;}
    95% {color: darkviolet;}
}

#header{
    font-family: Bikarosta;
    font-size: 70px;
    margin-top: 10px;
    animation: changeColor infinite;
    animation-duration: 30s;
}



#myAmount{
    width: 35px;
}

ul {
    list-style-type: none;
    flex-direction: column;
}



ul li:hover {

    background-color: lightpink;

}

br {
    display: none;
}



.deleteEdit{
    margin-left: 5px;
    border-style: hidden;
    background-color: transparent;
    opacity: 0.6;
    transition: 0.3s;
}

.deleteEdit:hover{
    opacity:1;
}



.deleteEdit:hover{
    background-color: #ffe6e6;

}

.jumbotron{
    text-align: center;
    background-color: transparent;
   }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:  linear-gradient(-30deg, #ffe6e6 40%, #c2f0c2 60%);
    background-blend-mode: darken;
    color: black;
    text-align: center;
}

.title {
    font-family: Bikarosta;
    font-size: 40px;
}

#listOfLists{
    text-align: left;
}




